@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


body {
  font-family: var(--font-poppins), sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas), sans-serif;
}

.white-rotate-box:nth-child(1),
.white-rotate-box:nth-child(3),
.white-rotate-box:nth-child(5) {
  animation: floatRotateLeft 2s infinite;
}

.white-rotate-box:nth-child(2),
.white-rotate-box:nth-child(4),
.white-rotate-box:nth-child(6) {
  animation: floatRotateRight 2s infinite;
}

@keyframes floatRotateLeft {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes floatRotateRight {
  0% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@media (max-width: 768px) {

  .benefits-left,
  .benefits-right {
    position: static;
    transform: none;
  }
}

/* Styling for SabotageSection */

.sabotage-content ul {
  column-count: 2;
  margin-bottom: 28px;
  list-style: none;
  padding-left: 0;
  max-width: 600px;
}

.sabotage-content li {
  position: relative;
  padding-left: 23px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.sabotage-content li:not(:last-child) {
  margin-bottom: 14px;
}

.sabotage-content li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #ff4d1c;
  border-radius: 9999px;
  position: absolute;
  left: 0;
  top: 9px;
}

.sabotage-content p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #000000;
}

/* Problem Section */

.problem-content p {
  margin-bottom: 18px;
  color: #d1d5db;
}

/* Make slick slides equal height */
.testimonial-slider .slick-track {
  display: flex !important;
}

.testimonial-slider .slick-slide {
  height: auto !important;
}

.testimonial-slider .slick-slide>div {
  height: 100%;
}

.testimonial-slider .testimonial-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {

  .sabotage-content li,
  .sabotage-content p {
    font-size: 14px;
  }

  .sabotage-content ul {
    column-count: 1;
  }
}